<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAJBTiGApbwxs8frQ6j8QVJth_0HniogzU</string>
	<key>GCM_SENDER_ID</key>
	<string>1093041322989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.farm.africa</string>
	<key>PROJECT_ID</key>
	<string>farmapp-e2145</string>
	<key>STORAGE_BUCKET</key>
	<string>farmapp-e2145.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1093041322989:ios:5eeac6a9b47617b65385e4</string>
</dict>
</plist>